<%= stylesheet_link_tag "show" %>

<p class="comment">
  <%= comment.commenter %> said: <span> <%= comment.body %> </span>
</p>

<p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
