.deviceContainer {
  position: fixed;
  z-index: 1;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #673AB7;
}

.deviceContainer a {
  color: #fff;
  line-height: 1.5;
}

.deviceContent {
  margin-top: 0;
  color: #fff;
}

.deviceContent h2 {
  margin-top: 0;
}

.formTip {
  color: rgba(255, 255, 255, 0.5);
}

input:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  color: #fff;
}

.deviceContent input[type="email"] {
  padding: 10px 15px;
  min-width: 150px;
  font-size: 16px;
  border-radius: 100px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
}

.deviceContent input[type="email"]:focus {
  background: rgba(255, 255, 255, 0.3);
}

.deviceContent input[type="password"] {
  padding: 10px 15px;
  min-width: 150px;
  font-size: 16px;
  border-radius: 100px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
}

.deviceContent input[type="password"]:focus {
  background: rgba(255, 255, 255, 0.3);
}

.deviceContent input[type="submit"] {
  padding: 10px 15px;
  min-width: 150px;
  font-size: 16px;
  border-radius: 100px;
  border: none;
  background: #00BCD4;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}
