.container{
  text-align: center;
  font-family: 'Helvetica';

  padding: 30px 0;
}

h1 {
  color: #757575;
}

.link {
  background: #673AB7;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 100px;
}

.link a {
  text-decoration: none;
  color: #fff
}
